/* Header */
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
html,
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
@font-face  {
  font-family: Balls on the rampage;
  src: url(BALLSONTHERAMPAGE.ttf);
}
#large-header {
  position: relative;
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1.0;
}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9ffe1;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
  font-family: Balls on the rampage;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.main-title .thin {
  font-weight: 200;
}
@media only screen and (max-width: 1500px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
