body {
  background : black;
  overflow: hidden; 
  margin: 0;
  padding: 0;
  width: 100%;
}
#wrapper {
  width: 50%;
  padding: 0;
  margin: 0 auto;
  max-width: 50%;
  /*overflow: hidden;*/
  text-align: center;
}
canvas {
  box-sizing: border-box;
  padding: 0 5px 0 0;
  margin: 5px 0 0 0;
  text-align: center;
  max-width: 75%;
}
.thumb {
	position : absolute;
	z-index : 99;
}
